* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 100vh;
    overflow: hidden;
    font-family: "VT323", monospace;
}

#game {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-size: cover;
    background-position: center;
}

#message {
    position: absolute;
    top: 20%;
    color: white;
    font-size: 50px;
}

.modal {
    width: 325px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    color: black;
    border: 2px solid #000;
    box-shadow: 4px 4px 0 #808080;
    position: relative;
}

.modal.first-modal {
    background-color: #c0c0c0;
    z-index: 10;
    position: relative;
}

.modal.second-modal {
    background-color: #d0d0d0;
    position: absolute;
    top: 55%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 20;
    transition: opacity 3s ease;
}

.title-bar {
    background-color: #000080;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background-color: #e0e0e0;
    border: 1px solid #000;
    font-weight: bold;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
}

.close-btn:hover {
    background-color: #ff0000;
    color: #fff;
}

.modal p {
    font-size: 20px;
    padding: 15px;
    text-align: center;
    line-height: 65px;
    flex: 1;
}

.hidden {
    display: none;
}

.btn-wrapper{
    transition: transform 0.3s ease;
}

.btn-wrapper.large {
    transform: scale(1.8);
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    47% { transform: translateX(-1px); }
    50% { transform: translateX(1px); }
    52% { transform: translateX(-1px); }
}

#close.shake {
    animation: shake 2s infinite;
}

#result {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
}

.result-box {
    background: black;
    color: white;
    padding: 60px;
    text-align: center;
    max-width: 400px;
}

.result-box h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.result-box p {
    margin: 10px 0;
    font-size: 18px;
}

#rank {
    color: red;
    font-size: 20px;
}

.small {
    font-size: 16px;
    opacity: 0.6;
}