* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 100vh;
    overflow: hidden;
    font-family: "VT323", monospace;
}

#game {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.modal {
    background: #111;
    color: white;
    width: 325px;
    height: 150px;
    padding: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal p {
    font-size: 20px;
}

.btn-wrapper{
    position: absolute;
    width: 13px;
    height: 13px;
    top: 10px;
    right: 15px;
    transition: transform 0.3s ease;
}

.close {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.close:hover {
    opacity: 0.6;
}

.btn-wrapper.large {
    transform: scale(1.8);
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    47% { transform: translateX(-1px); }
    50% { transform: translateX(1px); }
    52% { transform: translateX(-1px); }
}

.close.shake {
    animation: shake 2s infinite;
}

#result {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.6);
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.result-box {
    background: black;
    color: white;
    padding: 60px;
    text-align: center;
    max-width: 400px;
}

.result-box h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.result-box p {
    margin: 10px 0;
    font-size: 18px;
}

#rank {
    color: red;
    font-size: 20px;
}

.small {
    font-size: 16px;
    opacity: 0.6;
}